<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>自動販売機アプリ</title>
    <link rel="stylesheet" href="styles.css" />
    <script>
      async function handleClickBuy(id) {
        await fetch("/buy", {
          method: "delete",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            id,
          }),
        });
        window.location.reload();
      }
    </script>
  </head>
  <body>
    <header>
      <h1>自動販売機アプリ</h1>
      <nav>
        <ul>
          <li><a href="/add">飲み物を追加する</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <!-- 商品のリスト -->
      <ul class="products">
        <% drinks.forEach((drink)=>{ %>
        <li class="product">
          <h2 class="product-name">
            <a class="product-link" href="/update?id=<%= drink.id %>"
              ><%= drink.name %></a
            >
          </h2>
          <p class="product-price">¥<%= drink.price %></p>
          <p
            class="product-temperature <%= drink.temperature ? 'warm' :'cold' %>"
          >
            <%= drink.temperature ? "あたたかい" :"つめたい" %>
          </p>
          <button onclick="handleClickBuy('<%= drink.id  %>')">購入</button>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
