<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>商品更新</title>
    <link rel="stylesheet" href="add.css" />
  </head>
  <body>
    <header>
      <h1>商品更新</h1>
      <a href="/">ホームに戻る</a>
    </header>

    <main>
      <form action="/update" method="POST">
        <input type="hidden" name="id" value="<%= drink.id %>">
        <label for="drink-name">商品名:</label>
        <input
          type="text"
          id="drink-name"
          name="name"
          required
          value="<%= drink.name %>"
        />

        <label for="drink-price">価格:</label>
        <input
          type="number"
          id="drink-price"
          name="price"
          required
          value="<%= drink.price %>"
        />

        <label for="drink-temp">温度:</label>
        <select id="drink-temp" name="temp">
          <option <%= drink.temperature === 1 ? 'selected' : '' %> value="1">あたたかい</option>
          <option <%= drink.temperature === 0 ? 'selected' : '' %> value="0">冷たい</option>
        </select>

        <button type="submit">更新する</button>
      </form>
    </main>
  </body>
</html>
